body {
    position: relative;
}

.header {
    display: flex;
    background: rgb(216, 127, 140);
    height: 100px;
    width: 100%;
    justify-content: space-between;
}

.logoName {
    margin: auto 30px;
}

ul {
    list-style-type: none;
}

.contact {
    margin: auto 30px;
}

.header ul {
    margin: auto;
}

.header ul li {
    float: left;
    padding: 10px;
}

.main {
    height: max-content;
    min-height: 100%;
    display: flex;
    margin-bottom: -100px;
}

.sidebar {
    width: 20%;
    height: 400px;
    margin: 20px;
}

.filter {
    position: relative;
    margin: 10px;
}

.filter::after {
    content: '';
    background: url(./assets/images/arrow-image.png);
    height: 10px;
    width: 10px;
    position: absolute;
    right: 15px;
    top: 5px;
    background-size: cover;
}

.submenu {
    display: none;
}

.footer {
    margin-top: 120px;
    height: 100px;
}

.catalog {
    position: relative;
    height: auto;
    width: 80%;
    margin: 20px;
}

.product {
    height: 300px;
    width: 32%;
    float: left;
    text-align: center;
    /* margin-top: 15px; */
}

.product::after {
    clear: both;
}

.productPicture {
    height: 150px;
    width: 120px;
}

.catalogHead {
    position: relative;
    height: 100px;
}

.breadcrumbs {
    float: left;
}

.cart {
    position: absolute;
    right: 30px;
}

.pages {
    position: absolute;
    bottom: 5px;
}