body {
    position: relative;
    background: rgba(81, 105, 81, 0.938);
    font-family: 'Work Sans', sans-serif;
}

.header {
    display: flex;
    height: 100px;
    width: 100%;
    justify-content: space-between;
    border-bottom: 1px solid rgb(15, 54, 15);
    font-family: 'Abel', sans-serif;
}

#logoImage {
    margin: -10px 10px;
    height: 120px;
    width: 300px;
}

ul {
    list-style-type: none;
}

.contact {
    margin: auto 30px;
}

#mobile {
    text-decoration: none;
    color: black;
}

.contact:hover {
    cursor: pointer;
    border-bottom: 4px solid rgb(15, 187, 72);
}

.header ul {
    margin: auto;
}

.header ul li {
    float: left;
    padding: 10px;
}

.header ul li:hover {
    border-bottom: 4px solid rgb(15, 187, 72);
    cursor: pointer;
}

.header ul li:last-child:hover {
    border: none;
    outline: 10px rgb(15, 187, 72);
}

#search {
    border: none;
    outline: none;
    height: 30px;
    border-bottom: 5px solid rgb(15, 54, 15);
    border-radius: 5px;
}

.main {
    height: max-content;
    min-height: calc(100% - 20px);
    display: flex;
    margin-bottom: -120px;
}

.sidebar {
    width: 20%;
    height: 100%;
    border-right: 1px solid rgb(15, 54, 15);
}

.filter {
    position: relative;
    margin: 10px 10px;
    width: calc(100% - 40px);
    height: 10%;
    padding: 3px;
    text-align: center;
    line-height: 35px;
    border: 1px solid rgb(252, 185, 86);
    border-radius: 10px;
}

.filter::after {
    content: '';
    background: url(./assets/images/arrow-image.png);
    height: 10px;
    width: 10px;
    position: absolute;
    right: 15px;
    top: 15px;
    background-size: cover;
}

#filter {
    background-color: rgb(146, 182, 253);
    outline: none;
    border: 2px solid rgb(104, 104, 255);
    border-radius: 7px;
    box-shadow: 5px 2px rgb(23, 34, 49);
    height: 50px;
    width: 35%;
    margin-left: 40px;
}

#resetFilters {
    background-color: rgb(146, 182, 253);
    outline: none;
    border: 2px solid rgb(104, 104, 255);
    border-radius: 7px;
    box-shadow: 5px 2px rgb(23, 34, 49);
    height: 50px;
    width: 35%;
    margin-left: 10px;
}

.filter:hover,
#filter:hover,
#resetFilters:hover,
.filterOption,
.filterLabel {
    cursor: pointer;
}

.submenu {
    display: none;
}

.breadcrumbs {
    font-size: larger;
}

#sort {
    font-size: larger;
}

#sort:hover {
    cursor: pointer;
}

.addButton {
    background-color: rgb(252, 185, 86);
    border: 2px solid rgb(223, 134, 0);
    border-radius: 5px;
    height: 30px;
    width: 150px;
    outline: none;
}

.addButton:hover {
    cursor: pointer;
    outline: none;
}

.footer {
    margin-top: 20px;
    height: 70px;
    text-align: center;
    border-top: 1px solid rgb(15, 54, 15);
    padding-top: 20px;
    bottom: 0;
    width: 100%;
}

.catalog {
    position: relative;
    height: max-content;
    width: 80%;
    margin: 20px;
}

.product {
    height: 300px;
    width: 30%;
    float: left;
    text-align: center;
    margin: 5px;
    border: 1px solid rgb(6, 29, 6);
    box-shadow: 2px 2px rgb(6, 29, 6);
}

.product::after {
    clear: both;
}

.productPicture {
    margin-top: 15px;
    height: 150px;
    width: 120px;
}

.catalogHead {
    position: relative;
    height: 100px;
}

.breadcrumbs {
    float: left;
}

.breadcrumbs::after {
    clear: both;
}

#cart {
    position: absolute;
    right: 30px;
    width: 400px;
    height: 90px;
}

#cartImg {
    height: 70px;
    width: 80px;
    position: absolute;
    right: 25px;
}

#clearCart {
    height: 30px;
    width: 30px;
    margin: -5px;
    position: absolute;
    right: 45px;
    bottom: 0;
}

#clearCart:hover {
    cursor: pointer;
}

#cartItems {
    float: left;
    visibility: hidden;
    position: relative;
    height: max-content;
    margin-bottom: 20px;
    background: rgba(252, 185, 86, 0.75);
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgb(223, 134, 0);
}

#totalCount {
    height: 20px;
    width: 20px;
    position: absolute;
    right: 45px;
    top: -25px;
    font-weight: bolder;
    color: rgb(223, 134, 0);
}

.sum {
    font-weight: bold;
    text-decoration: overline;
    margin-top: 5px;
}

#sort {
    display: block;
    position: absolute;
    top: 35px;
}

.radio {
    font-size: smaller;
}

.radio:hover {
    text-decoration: underline;
    cursor: pointer;
}

#pages {
    position: absolute;
    bottom: -30px;
    left: 43%;
    margin: -20px;
}

#page1 {
    color: rgb(252, 185, 86);
}

.prodPage {
    padding-left: 10px;
    font-size: 30px;
    font-weight: bolder;
}

.prodPage:hover {
    font-size: 50px;
    cursor: pointer;
}

.pageArrow {
    padding-left: 10px;
    font-size: 20px;
    font-weight: bolder;
}

.pageArrow:hover {
    font-size: 25px;
    cursor: pointer;
}

@media screen and (min-height: 1300px) {
    #mobile {
        margin-right: 25px;
    }
    .header {
        font-size: larger;
    }
    #cart {
        right: 20px;
    }
    #pages {
        bottom: -60px;
        margin: -20px;
    }
    .product {
        height: 400px;
        font-size: larger;
    }
    .productPicture {
        margin-top: 15px;
        height: 220px;
        width: 200px;
    }
    .addButton {
        border-radius: 5px;
        height: 47px;
        width: 190px;
        outline: none;
    }
    .catalogHead {
        height: 150px;
        font-size: larger;
    }
    #sort {
        margin-top: 30px;
    }
    #cart {
        width: 600px;
        height: 120px;
    }
    #cartImg {
        height: 100px;
        width: 120px;
        margin-top: 10px;
    }
    #clearCart {
        height: 50px;
        width: 50px;
        margin: -25px;
        right: 65px;
    }
    #cartItems {
        font-size: larger;
    }
    .filter {
        margin: 20px 20px;
        padding: 5px;
        font-size: larger;
    }
    .filter::after {
        height: 20px;
        width: 20px;
    }
    #filter {
        height: 80px;
        width: 35%;
        margin-left: 40px;
        font-size: larger;
    }
    #resetFilters {
        height: 80px;
        width: 35%;
        font-size: larger;
    }
    .footer {
        font-size: larger;
        display: block;
    }
}

@media screen and (max-height: 900px) {
    .footer {
        display: none;
    }
}

@media screen and (max-width: 1385px) {
    .product {
        height: 250px;
        font-size: smaller;
        padding: 0;
    }
    .productPicture {
        margin-top: 5px;
        height: 110px;
        width: 90px;
    }
    .addButton {
        height: 30px;
        width: 90px;
    }
    .catalogHead {
        height: 100px;
    }
    #sort {
        margin-top: 15px;
    }
    #cart {
        width: 300px;
        height: 70px;
    }
    #cartImg {
        height: 60px;
        width: 60px;
        margin-top: 5px;
    }
    #clearCart {
        height: 25px;
        width: 25px;
        margin: -20px;
        right: 55px;
    }
    #totalCount {
        right: 35px;
    }
    .filter {
        margin: 10px 10px;
        padding: 5px;
    }
    .filter::after {
        height: 10px;
        width: 10px;
    }
    #filter {
        height: 60px;
        width: 35%;
        margin-left: 30px;
    }
    #resetFilters {
        height: 60px;
        width: 35%;
    }
}

@media screen and (max-width: 800px) {
    .header {
        height: 80px;
    }
    #logoImage {
        margin-top: 0px;
        height: 70px;
        width: 200px;
    }
    #mobile {
        font-size: 15px;
    }
    .header ul {
        font-size: 15px;
    }
    #search {
        margin-left: 35px;
    }
    #pages {
        bottom: -10px;
        margin: -40px;
    }
    .product {
        height: 250px;
        font-size: 12px;
    }
    .productPicture {
        margin-top: 5px;
        height: 110px;
        width: 90px;
    }
    .addButton {
        height: 30px;
        width: 90px;
    }
    .catalogHead {
        height: 100px;
        font-size: 15px;
    }
    #sort {
        margin-top: 1px;
        width: 60%;
    }
    #cart {
        width: 30%;
        height: 70px;
        right: 0;
    }
    #cartImg {
        height: 50px;
        width: 50px;
        margin-top: 10px;
    }
    #clearCart {
        height: 25px;
        width: 25px;
        margin: -20px;
        right: 55px;
    }
    #cartItems {
        font-size: smaller;
        width: 150px;
        top: 85px;
        right: 10px;
    }
    #totalCount {
        right: 35px;
        margin-bottom: -2px;
    }
    .filter {
        margin: 5px 5px;
        font-size: smaller;
        width: 90%;
        margin-left: -25px;
    }
    .filter::after {
        height: 10px;
        width: 10px;
        right: 0;
    }
    #filter {
        height: 50px;
        width: 80%;
        margin-left: 0px;
    }
    #resetFilters {
        height: 50px;
        width: 80%;
        margin-left: 0px;
        margin-top: 5px;
    }
    .filterOption {
        margin-left: -60px;
    }
    .filterLabel {
        font-size: 12px;
    }
    .footer {
        display: none;
    }
    [id*='page'] {
        font-size: 15px;
    }
    [id*='page']:hover {
        font-size: 20px;
    }
}

@media screen and (max-width: 500px) {
    .header {
        height: 70px;
    }
    #logoImage {
        margin-top: 0px;
        height: 70px;
        width: 100px;
    }
    #mobile {
        font-size: 15px;
    }
    .header ul {
        font-size: 12px;
    }
    #search {
        margin-left: 10px;
        height: 20px;
    }
    #pages {
        bottom: -10px;
        margin: -40px;
        left: 30%;
    }
    .product {
        height: 200px;
        font-size: 10px;
        width: 45%;
    }
    .productPicture {
        margin-top: 5px;
        height: 90px;
        width: 70px;
    }
    .addButton {
        height: 20px;
        width: 90px;
    }
    .catalogHead {
        height: 100px;
        font-size: 12px;
    }
    #sort {
        margin-top: 1px;
        width: 70%;
    }
    #cart {
        width: 30%;
        height: 70px;
        right: 0;
    }
    #cartImg {
        height: 40px;
        width: 40px;
        margin-top: 10px;
    }
    #clearCart {
        height: 20px;
        width: 20px;
        margin: -10px;
        right: 40px;
    }
    #cartItems {
        font-size: smaller;
        width: 150px;
        top: 85px
    }
    #totalCount {
        right: 25px;
        margin-bottom: -5px;
    }
    .filter {
        margin: 5px 5px;
        font-size: smaller;
        width: 90%;
        margin-left: -25px;
    }
    .filter::after {
        content: '';
        background-image: none;
    }
    #filter {
        height: 30px;
        width: 80%;
        margin-left: 0px;
        font-size: 10px;
    }
    #resetFilters {
        height: 30px;
        width: 80%;
        margin-left: 0px;
        margin-top: 5px;
        font-size: 10px;
    }
    .filterOption {
        margin-left: -60px;
    }
    .filterLabel {
        font-size: 10px;
    }
    [id*='page'] {
        font-size: 12px;
    }
    [id*='page']:hover {
        font-size: 20px;
    }
}