body {
    position: relative;
    background: rgba(81, 105, 81, 0.938);
    font-family: 'Work Sans', sans-serif;
}

.header {
    display: flex;
    /* background: rgb(255, 204, 212); */
    height: 100px;
    width: 100%;
    justify-content: space-between;
    border-bottom: 1px solid rgb(15, 54, 15);
}

#logoImage {
    margin: -10px 10px;
    height: 120px;
    width: 300px;
}

ul {
    list-style-type: none;
}

.contact {
    margin: auto 30px;
}

.contact:hover {
    cursor: pointer;
}

.contact:hover {
    border-bottom: 4px solid rgb(15, 187, 72);
}

.header ul {
    margin: auto;
}

.header ul li {
    float: left;
    padding: 10px;
}

.header ul li:hover {
    border-bottom: 4px solid rgb(15, 187, 72);
    cursor: pointer;
}

.header ul li:last-child:hover {
    border: none;
    outline: 10px rgb(15, 187, 72);
}

#search {
    border: none;
    outline: none;
    height: 30px;
    border-bottom: 5px solid rgb(15, 54, 15);
    border-radius: 5px;
}

.main {
    height: max-content;
    min-height: 100%;
    display: flex;
    margin-bottom: -120px;
}

.sidebar {
    width: 20%;
    height: 100%;
    /* margin: 20px; */
    border-right: 1px solid rgb(15, 54, 15);
}

.filter {
    position: relative;
    margin: 10px 10px;
    width: 200px;
    height: 10%;
    padding: 3px;
    text-align: center;
    line-height: 35px;
    border: 1px solid rgb(252, 185, 86);
    border-radius: 10px;
}

.filter::after {
    content: '';
    background: url(./assets/images/arrow-image.png);
    height: 10px;
    width: 10px;
    position: absolute;
    right: 15px;
    top: 15px;
    background-size: cover;
}

#filter {
    background-color: rgb(146, 182, 253);
    outline: none;
    border: 2px solid rgb(104, 104, 255);
    border-radius: 7px;
    box-shadow: 5px 2px rgb(23, 34, 49);
    height: 50px;
    width: 35%;
    margin-left: 40px;
}

#resetFilters {
    background-color: rgb(146, 182, 253);
    outline: none;
    border: 2px solid rgb(104, 104, 255);
    border-radius: 7px;
    box-shadow: 5px 2px rgb(23, 34, 49);
    height: 50px;
    width: 35%;
    margin-left: 10px;
}

.filter:hover,
#filter:hover,
#resetFilters:hover,
.filterOption,
.filterLabel {
    cursor: pointer;
}

.submenu {
    display: none;
}

.breadcrumbs {
    font-size: larger;
}

#sort {
    font-size: larger;
}

#sort:hover {
    cursor: pointer;
}

.addButton {
    background-color: rgb(252, 185, 86);
    border: 2px solid rgb(223, 134, 0);
    border-radius: 5px;
    height: 30px;
    width: 150px;
    outline: none;
}

.addButton:hover {
    cursor: pointer;
    outline: none;
}

.footer {
    margin-top: 160px;
    height: 100px;
}

.catalog {
    position: relative;
    height: auto;
    width: 80%;
    margin: 20px;
}

.product {
    height: 300px;
    width: 30%;
    float: left;
    text-align: center;
    margin: 5px;
    border: 1px solid rgb(6, 29, 6);
    box-shadow: 2px 2px rgb(6, 29, 6);
    /* margin-top: 15px; */
}

.product::after {
    clear: both;
}

.productPicture {
    margin-top: 15px;
    height: 150px;
    width: 120px;
}

.catalogHead {
    position: relative;
    height: 100px;
}

.breadcrumbs {
    float: left;
}

.breadcrumbs::after {
    clear: both;
}

#cart {
    position: absolute;
    right: 30px;
    width: 400px;
    height: 90px;
}

#cartImg {
    height: 70px;
    width: 80px;
    position: absolute;
    right: 25px;
}

#clearCart {
    height: 30px;
    width: 30px;
    margin: -5px;
    position: absolute;
    right: 45px;
    bottom: 0;
}

#cartItems {
    float: left;
    visibility: hidden;
}


/* #cartImg:hover~#cartItems {
    visibility: visible;
} */

#sort {
    display: block;
    position: absolute;
    top: 35px;
}

.radio {
    font-size: smaller;
}

.radio:hover {
    text-decoration: underline;
    cursor: pointer;
}

#pages {
    position: absolute;
    bottom: -30px;
    left: 50%;
    margin: -20px;
}

#page1 {
    color: rgb(252, 185, 86);
}

.prodPage {
    padding-left: 10px;
    font-size: 30px;
    font-weight: bolder;
}

.prodPage:hover {
    font-size: 50px;
    cursor: pointer;
}

.pageArrow {
    padding-left: 10px;
    font-size: 20px;
    font-weight: bolder;
}

.pageArrow:hover {
    font-size: 25px;
    cursor: pointer;
}